* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: sans-serif;
  background: #616161;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh;

  background: #090266;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

nav {
  max-width: 900px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  height: 3rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6e4f8d;
  border-radius: 0.75rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font: inherit;
  transition: 0.5s;
  outline: none;
}

button:hover {
  background: #7607e6;
  color: rgba(255, 255, 255, 1);
}

.logo {
  font-size: 2rem;
  font-weight: normal;
}

.logo-bold {
  font-weight: bold;
}

.nav-bar-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50%;
}

.nav-bar-total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-bar-total-quantity {
  font-size: 1rem;
}

.nav-bar-total-price {
  font-size: 1.25rem;
  font-weight: bold;
}

.clean-btn {
  max-width: 8rem;
}

main {
  margin-top: 20vh;
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-section {
  max-width: 900px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.small-section {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  background: white;
  width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  height: 100%;
  border-radius: 0.75rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.card-logo {
  max-width: 400px;
  max-height: 250px;
  object-fit: cover;
}
.small-logo {
  max-width: 200;
  max-height: 175px;
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
  margin: 1rem 0;
}

.small-title {
  font-size: 1rem;
  margin: 1rem 0;
  color: black;
}

footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  color: black;
}
.popup-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: black;
}

@media (max-width: 1150px) {
  .products-section {
    grid-template-columns: 1fr 1fr;
  }
}

ul {
  max-width: 900px;
  width: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background: white;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.remove-btn {
  border: 3px solid #7607e6;
  background: transparent;
  color: #7607e6;
  font-weight: bold;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

@media (max-width: 700px) {
  .products-section {
    grid-template-columns: 1fr;
  }
  .nav-bar-total-quantity {
    font-size: 0.5rem;
  }
  .nav-bar-total-price {
    font-size: 1rem;
    font-weight: bold;
  }
  .logo {
    font-size: 1rem;
  }
  .nav-bar-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 70%;
  }
  .list-title {
    font-size: 1rem;
  }

  .list-price {
    font-size: 0.9rem;
  }

  .remove-btn {
    font-size: 0.75rem;
  }
}
